/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

a, a:link, a:visited  {
    text-decoration: none;
}

body {
    font-family: "Montserrat", sans-serif;
    background: #fafafc;
}

textarea {
    width: 100%;
}

.header {
    box-shadow: 0 1px 3px 0 rgba(11, 12, 13, 0.16), 0 0 1px 0 rgba(11, 12, 13, 0.24);
    background: #fff;
    padding: 18px 0;
}

.total-notes {
font-weight: 500;
font-size: 16px;
line-height: 150%;
color: #000;
}

.number-notes {
    font-weight: 700;
}


.form-note {
border-radius: 4px;
padding: 24px;
box-shadow: 0 8px 12px 0 rgba(11, 12, 13, 0.08), 0 16px 24px 0 rgba(11, 12, 13, 0.04), 0 1px 2px 0 rgba(11, 12, 13, 0.08);
background: #fff;

margin: 24px 0;
}

h3 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    color: #919191;
    }

.title-note-input, .content-note-textarea {
border: 1px solid #e8e8e8;
border-radius: 10px;
padding: 6px 12px;

margin-bottom: 12px;

}

    .title-note-input {
width: 344px;
max-width: 70%;
height: 36px;
}

.content-note-textarea {
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    padding: 6px 12px;
    width:auto;
    height: 84px;
}

::placeholder {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #919191;
}


.color-note  {
    margin-bottom: 12px;
}

.add-note-button {
border-radius: 10px;
padding: 6px 24px;
width: 232px;
height: 36px;
background: #457cdc;

font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
color: #fff;

margin-bottom: 12px;
}

.container {
    height: 100%;
    width: 100%;
    max-width: 1182px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid red;

}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-and-color-and-button {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.color-and-button {
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:flex-start;
}

/* .color-and-button {
    /* align-self: flex-start;
} */




